In [11]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import StackingClassifier
from sklearn.svm import SVC
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [12]:
import warnings
warnings.filterwarnings('ignore')

In [13]:
df = pd.read_csv("data_cleaned.csv")
df.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [14]:
X = df.drop("Survived", axis = 1)
y = df["Survived"]
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42, test_size=0.4)
print("X train and test sizes: {}, {}".format(X_train.shape, X_test.shape))
print("y train and test sizes: {}, {}".format(y_train.shape, y_test.shape))
scaler = StandardScaler()
scaler.fit(X_train,y_train)
scaler.transform(X_test)

X train and test sizes: (534, 24), (357, 24)
y train and test sizes: (534,), (357,)

array([[ 0.02559825, -0.32454477, -0.54416588, ...,  2.16352746,
        -0.31785363, -1.65356153],
       [ 0.12600505, -0.41272442, -0.54416588, ..., -0.46220814,
        -0.31785363,  0.60475524],
       [-0.72301469, -0.46056938, -0.54416588, ..., -0.46220814,
        -0.31785363,  0.60475524],
       ...,
       [ 1.05220841,  0.26360817, -0.54416588, ..., -0.46220814,
        -0.31785363,  0.60475524],
       [-0.95456553, -0.44686621, -0.54416588, ..., -0.46220814,
        -0.31785363,  0.60475524],
       [ 0.58910673,  0.36866641,  1.83767494, ..., -0.46220814,
        -0.31785363,  0.60475524]])

In [15]:


# Define base models
base_models = [
    ('rf', RandomForestClassifier(n_estimators=100)),
    ('gb', GradientBoostingClassifier(n_estimators=100)),
    ('svc', SVC(probability=True))
]

# Define the meta-learner
meta_model = LogisticRegression()

# Create the stacking ensemble
stacked_model = StackingClassifier(estimators=base_models, final_estimator=meta_model, cv=5)

# Train and evaluate
stacked_model.fit(X_train, y_train)
stacked_score = stacked_model.score(X_test, y_test)
print("Stacked Model Test Score:", stacked_score)

Stacked Model Test Score: 0.8179271708683473